# ASSN_03

Complete the following questions using the flights dataset. Once complete, upload the ipynb file to Blackboard.

## 1. Import the Relevant Data Analysis Packages

Python

R

# 2. Read in the Flights Data, and print out the first 5 rows of the dataset

Python

R

# 3. Write code to find the answers to each question below **seperately**.

- 1a. Had an arrival delay of two or more hours
- 1b. Flew to Houston (IAH or HOU)
- 1c. Were operated by United, American, or Delta
- 1d. Departed in summer (July, August, and September)
- 1e. Arrived more than two hours late, but didn’t leave late
- 1f. Made up at least 60 minutes in flight time (hint.. you need to create a new column)
- 1g. Departed between midnight and 6am (inclusive)

Python

In [ ]:
#-- a

In [ ]:
#-- b

In [ ]:
#-- c

In [ ]:
#-- d

In [ ]:
#-- e

In [ ]:
#-- f

In [ ]:
#-- g

R

In [ ]:
#-- a

In [ ]:
#-- b

In [ ]:
#-- c

In [ ]:
#-- d

In [ ]:
#-- e

In [ ]:
#-- f

In [ ]:
#-- g

## 4. How many flights have a missing dep_time? What other variables are missing? What might these rows represent?

Python

R

## 5. What is the average departure delay time, for each airline? Who has the lowest? The highest? (hint.. group_by functions should be useful)

Python

R

# 6., 7., & 8. Create new dataframes, where you...
1. filter the dataset to just American Airlines, Delta, and United Airlines
2. Aggregate the dataset so that only the airline field and year are your only columns, and the count of flights in a given year are the values
3. Widen the dataset so that each airline is its own column

Python

R

# 9. Clean up the column names of the original flights dataset, to make it more human readable

Python

R

## 10. Use the following data and create a new dataset merging both artist datasets and the instruments dataset together (only R)

band_instruments and band_instruments2 contain the same data but use different column names for the first column of the data set. band_instruments uses name, which matches the name of the key column of band_members; band_instruments2 uses artist, which does not.

In [ ]:
head(band_members,6)

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

In [ ]:
band_instruments

  name  plays
1 John  guitar
2 Paul  bass
3 Keith guitar